* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.create-product-button-container {
  text-align: center;
  margin-top: 10px;
}

.create-product-button {
  border: none;
  background-color: black;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.create-product-button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}

.products-container {
  width: 100%;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 10px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

.product-capsule {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: auto;
  position: relative;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-images-container {
  width: 100%;
  position: relative;
  box-shadow: 0 1px 0 0 black;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
  gap: 10px;
  height: auto;
  padding: 10px;
}

.product-image-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.product-image-container .bx {
  font-size: 30px;
  position: absolute;
  transform: translate(70px, -35px);
  color: crimson;
  transition: all 0.2s ease-in-out;
}

.product-image-container .bx:hover {
  color: rgba(220, 20, 60, 0.788);
  cursor: pointer;
}

.product-image-container textarea {
  width: 100px;
  margin-top: 10px;
}

.product-image {
  height: 100px;
  outline: 1px solid black;
  border-radius: 5px;
}

.product-image-upload-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  gap: 10px;
  width: 100%;
}

.filepond {
  width: 100%;
  height: 300px;
}

.filepond--item {
  all: unset;
  width: calc(50% - 0.5em);
  width: 150px;
  height: 150px;
}

.filepond--credits {
  all: unset;
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  padding: 0;
  margin: 0;
}

.product-image-empty-container {
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: rgb(240, 241, 238);
  border-radius: 5px;
}

.product-details-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-details-container label {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.product-details-container span {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.product-details-container textarea {
  width: 100%;
  border: 1px solid black;
  padding: 2px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.product-details-container input {
  width: 40%;
  border: 1px solid black;
  padding: 2px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.product-action-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.product-edit-button-container {
  text-align: center;
  margin: 10px 10px;
}

.product-edit-button {
  border: none;
  outline: none;
  outline-offset: -1px;
  background-color: black;
  border-radius: 5px;
  width: auto;
  padding: 0 20px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.product-edit-button:hover {
  outline: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}

.product-save-button-container {
  text-align: center;
  margin: 10px 10px;
}

.product-save-button {
  border: none;
  outline: none;
  outline-offset: -1px;
  background-color: rgb(69, 219, 69);
  border-radius: 5px;
  width: auto;
  padding: 0 20px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.product-save-button:hover {
  outline: 1px solid rgb(69, 219, 69);
  background-color: white;
  color: rgb(69, 219, 69);
  cursor: pointer;
}

.product-delete-button-container {
  text-align: center;
  margin: 10px 10px;
}

.product-delete-button {
  border: none;
  outline: none;
  outline-offset: -1px;
  background-color: crimson;
  border-radius: 5px;
  width: auto;
  padding: 0 20px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.product-delete-button:hover {
  outline: 1px solid crimson;
  background-color: white;
  color: crimson;
  cursor: pointer;
}

.product-cancel-button-container {
  text-align: center;
  margin: 10px 10px;
}

.product-cancel-button {
  border: none;
  outline: none;
  outline-offset: -1px;
  background-color: black;
  border-radius: 5px;
  width: auto;
  padding: 0 20px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.product-cancel-button:hover {
  outline: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}

.old-image {
  display: none;
  width: 0;
  height: 0;
}