<form class="login-container" action="/login" method="POST" >
  <input
    type="text"
    class="login-input-box login-username-input"
    placeholder="Username"
    name="username"
    value=""
  />
  <input
    type="password"
    class="login-input-box login-password-input"
    placeholder="Password"
    name="password"
  />
  <button type="submit" class="login-button">Login</button>
  <% if(messages.error) { %>
  <span class="login-message active error"><%= messages.error %></span>
  <% } %>
</form>
