<%- include('../partials/header.ejs') %>

<link rel="stylesheet" type="text/css" href="/productsStyle.css" />
<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>

<div class="products-container">
  <div class="product-capsule">
    <div class="product-container">
      <form method="POST" action="/products/new">
        <div class="product-images-container">
          <input class="filepond" name="uploadedImages" type="file" multiple data-max-file-size="10MB" data-max-files="8">
        </div>
        <div class="product-details-container">
        <div class="product-details-item">
          <label for="sku">SKU:</label>
          <input id="sku" class="input" name="sku" value="" required><br />
        </div>
        <div class="product-details-item">
          <label for="brand">Brand:</label>
          <input id="brand" class="input" name="brand" value="" required><br />
        </div>
        <div class="product-details-item">
          <label for="name">Name:</label>
          <input id="name" class="input" name="name" value="" required><br />
        </div>
        <div class="product-details-item">
          <label for="short">Short Description:</label>
          <textarea id="short" class="textarea" name="short" required></textarea><br />
        </div>
        <div class="product-details-item">
          <label for="long">Long Description:</label>
          <textarea rows="5" class="textarea" id="long" name="long" required></textarea><br />
        </div>
        <div class="product-details-item">
          <label for="price">Price:</label>
          <input id="price" class="input" name="price" value="" required><br />
        </div>
        <div class="product-details-item">
          <label for="discounted">Discounted Price:</label>
          <input id="discounted" class="input" name="discounted" value="" required><br />
        </div>
        <div class="product-details-item">
          <label for="quantity">Quantity:</label>
          <input id="quantity" class="input" name="quantity" value="" required><br />
        </div>
        
        <div class="product-details-categories">
          <div class="product-categories-container">
            <% for(i = 0; i < categories.length; i++) { %>
            <div class="product-category-container">
              <div class="product-category-details">
                <h6 class="product-category-name"><%= categories[i].name %></h6>
              </div>
              <div class="product-subcategories-container">
                <% for(j = 0; j < categories[i].sub.length; j++) { %>
                <div class="product-subcategory-container">
                  <div class="product-subcategory-details">
                    <h6 class="product-subcategory-name"><%= categories[i].sub[j].name %></h6>
                  </div>
                  <div class="product-microcategories-container">
                    <% for(k = 0; k < categories[i].sub[j].micro.length; k++) { %>
                    <div class="product-microcategory-container">
                      <div class="product-microcategory-details">                    
                        <input name="microcategoryState" class="product-microcategory-input" type="checkbox" value="_none">
                        <h6 class="product-microcategory-name"><%= categories[i].sub[j].micro[k] %></h6>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <% } %>
          </div> 
        </div>
        
        <button type="submit" class="product-save-button">SAVE</button>
        </div>
      </form>
      <div class="product-action-buttons-container">
        <form class="product-cancel-button-container" method="GET" action="/products">
          <button type="submit" class="product-cancel-button">CANCEL</button>
        </form>
      </div>
    </div>
  </div>
  
</div>

<script defer>
    document.querySelectorAll(".product-microcategory-input").forEach((element) => {
  element.addEventListener("click", (_element) => {
    if (element.checked) {
      const sub = element.parentElement.parentElement.parentElement.parentElement;
      element.value = 
      sub.parentElement.parentElement.querySelector(".product-category-name").textContent +
        ">" +
        sub.querySelector(".product-subcategory-name").textContent +
        ">" +
        _element.target.parentElement.querySelector(".product-microcategory-name").textContent;
    } else {
      element.value = "_none";
    }
  });
});
</script>
<script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script defer src="/javascripts/imageUpload.js"></script>